{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
    <link rel="stylesheet" href="{% static 'style.css' %}">

    <title>صفحه ثبت نام کاربری</title>
</head>
<body>
        
        <h1>render page</h1>
        <form class="ui form container" method="POST">
            <div class="ui dividing header">ثبت نام کارشناسان مجیر</div>
            <div class="field">
                <label>{{form.name.label}}</label>
                <div class="two fields">
                    <div class="field">{{form.name}}</div>
                    <div class="field">{{form.last_name}}</form></div>
                </div>
                <div class="field">
                    <label>{{form.fathers_name.label}}</label>
                    {{form.fathers_name}}
                </div>
                <div class="two fields">
                    <div class="field">
                        <label>{{form.birthday.label}}</label>
                        {{form.birthday}}
                    </div>
                    <div class="field">
                        <label>{{form.gender.label}}</label>
                        {{form.gender}}
                    </div>
                </div>
                <div class="two fields">
                    <div class="field">
                        <label>{{form.code_meli.label}}</label>
                        {{form.code_meli}}
                    </div>
                    <div class="field">
                        <label>{{form.code_shenasnameh.label}}</label>
                        {{form.code_shenasnameh}}
                    </div>
                </div>
            </div>
            
        </form>

        <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>
</body>
</html>